//=================================
// Account Styles
//=================================

#account {
	width: 300px;
	margin: 0 auto;

	h1 {
		font-size: 20px;
		font-weight: 500;
		margin: 0 0 30px 0;
	}
	.avatar {
		display: block;
		margin: 0 auto 30px auto;
		border-radius: 100px;
		height: 100px;
	}
	form { margin-bottom: 40px; }
	span.error { margin-left: 5px; }

	.forgot-password,
	.back-to-login {
		float: right;
		line-height: 42px;
		color: $color-text-muted;
		&:hover { color: $color-accent; }
	}
}
