//=================================
// Activity Styles
//=================================

#activity {
	li {
		height: 40px;
		line-height: 40px;
		margin-bottom: 5px;
		overflow: hidden;

		img {
			display: block;
			float: left;
			margin: 5px 10px 0 0;
			border-radius: 40px;
		}
		.user { font-weight: bold; }
		.time {
			color: $color-text-muted;
			margin-left: 10px;
		}
	}
}
