//=================================
// Base Styles
//=================================

body,
html { height: 100%; }

body {
	font: 14px/22px $font-family;
	color: $color-text;
	background: $color-bg;
	-webkit-text-size-adjust: none;
}

a, a:visited {
	color: $color-accent;
	text-decoration: none;
}
a:hover, a:active {
	color: $color-text;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
	margin-bottom: 0.6em;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.9em;
}
h3 {
	font-size: 1.7em;
	margin-top: 2em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.3em;
}
h6 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}

b, strong {
	font-weight: 600;
}
i, em {
	font-style: italic;
}
u {
	text-decoration: underline;
}
abbr, acronym {
	cursor: help;
	border-bottom: .1em dotted;
}
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

code {
	font: 13px/22px Consolas, monaco, monospace;
	background: #FFFDDC;
	color: #555;
	padding: 1px 5px;
	border-radius: 2px;
}
pre {
	background: #FFFDDC;
	padding: 20px;
	margin-bottom: 1em;
	overflow: auto;

	code {
		background: none;
		padding: 0;
	}
}
blockquote {
	font-style: italic;
	margin: 0 0 1em 0;
	padding-left: 15px;
	border-left: 3px solid #eee;
}
hr {
	height: 0;
	border: 1px solid #eee;
	margin: 1em 0;
}

.clearfix { @include clearfix; }

.pull-left { float: left; }
.pull-right { float: right; }

.error { color: $color-warning; }
.success { color: $color-primary; }
