//=================================
// Site Styles
//=================================

//=================================
// Icon Font Styles
//=================================

@charset "UTF-8";

@font-face {
	font-family: "artisan-site";
	src:url("../fonts/artisan-site.eot");
	src:url("../fonts/artisan-site.eot?#iefix") format("embedded-opentype"),
		url("../fonts/artisan-site.ttf") format("truetype"),
		url("../fonts/artisan-site.svg#artisan-icons") format("svg"),
		url("../fonts/artisan-site.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "artisan-site" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "artisan-site" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
   content: "a";
}

.icon-support:before {
   content: "b";
}

.icon-money:before {
   content: "c";
}

h1, h2, h3, h4 {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.inner {
	width: 800px;
	margin: 0 auto;
}

.header {
	min-height: 145px;
	@include clearfix;

	.header-content {
		position: relative;
		z-index: 2;
	}
	.logo {
		float: left;
		font-size: 30px;
		font-weight: 600;
		line-height: 40px;
		margin: 50px 0 0 100px;
		transition: color 0.15s ease-out;
		&:hover { color: $color-text; }
	}
	.nav {
		float: right;
		margin: 50px 100px 0 0;

		li {
			display: inline;
			line-height: 20px;
			margin-left: 20px;
		}
		a {
			display: inline-block;
			font-size: 16px;
			font-weight: 600;
			color: $color-text-muted;
			padding: 10px 15px;
			transition: all 0.15s ease-out;
			&:hover { color: $color-text; }
		}
		.signup {
			margin-left: 30px;
			a {
				border: 2px solid $color-text-muted;
				border-radius: 3px;
				&:hover { border-color: $color-text; }
			}
		}
	}
	.page-title {
		clear: both;
		padding: 100px;
		text-align: center;

		h1 {
			font-size: 40px;
			font-weight: 600;
			line-height: 50px;
			margin: 0 0 15px 0;
		}
		h2 {
			display: block;
			font-size: 27px;
			line-height: 40px;
			margin: 0 auto;
			color: $color-text-muted;
			max-width: 670px;
		}
		.btn {
			font-size: 20px;
			font-weight: 600;
			text-shadow: none;
			padding: 15px 30px;
			margin: 30px 0 0 0;
		}
		.risk {
			display: inline-block;
			margin: 15px 0 0 0;
			color: #bbb;
		}
	}

	@include max-screen(700px) {
		text-align: center;

		.logo {
			display: inline-block;
			float: none;
			margin: 50px 0;
		}
		.nav {
			float: none;
			margin: 0 0 50px 0;
		}
	}
}

.content { margin: 0 100px; }

.footer {
	margin: 50px 100px;
	padding-top: 50px;
	border-top: 1px solid #eee;
	color: #bbb;
	@include clearfix;

	.nav {
		float: left;

		li { display: inline; }
		a {
			color: $color-text-muted;
			margin-right: 20px;
			&:hover { color: $color-accent; }
		}
	}
	.copyright { margin-right: 20px; }
	.twitter-follow-button {
		float: right;
		margin-top: -22px;
	}

	@include max-screen(1000px) {
		.nav {
			float: none;
			margin: 0 0 20px 0;
		}
		.pull-right { float: none; }
		.twitter-follow-button {
			float: none;
			margin: 0;
		}
	}
	@include max-screen(700px) {
		text-align: center;
	}
}

#home {
	.features {
		max-width: 800px;
		margin: 0 auto;

		.feature {
			margin-bottom: 100px;
			@include clearfix;

			img {
				float: right;
				margin: 0 0 0 50px;
			}
			&.alt img {
				float: left;
				margin: 0 50px 0 0;
			}
			h3 {
				margin: 120px 0 20px 0;
			}
		}

		@include max-screen(900px) {
			.feature,
			.feature.alt {
				img {
					display: block;
					float: none;
					margin: 0 auto 50px;
					max-width: 100%;
					height: auto;
					border: 1px solid #eee;
					border-radius: 3px;
				}
				h3 { margin-top: 0; }
			}
		}
	}

	.demo-img {
		display: block;
		margin: 100px auto;
		width: 100%;
		height: auto;
		max-width: 992px;
		border: 1px solid #ddd;
		border-radius: 3px;
		box-shadow: 0 0 20px rgba(0,0,0,0.1);
	}

	.cta {
		background: $color-accent;
		color: #fff;
		padding: 30px 40px;
		margin: 100px 0;
		line-height: 52px;
		border-radius: 3px;
		@include clearfix;

		p {
			float: left;
			font-size: 20px;
			margin: 0;
		}
		.btn {
			float: right;
			font-size: 20px;
			padding: 15px 30px;
		}

		@include max-screen(1100px) {
			text-align: center;
			line-height: 1.6em;

			p {
				float: none;
				margin-bottom: 30px;
			}
			.btn { float: none; }
		}
	}
}

#pricing {
	h1 { margin-bottom: 50px; }

	.pricing-table {
		text-align: center;
		font-size: 16px;
		@include clearfix;

		.plan {
			float: left;
			width: 28%;
			margin: 0 8% 50px 0;
			padding: 40px;
			border: 2px solid #ddd;
			border-radius: 3px;
			box-sizing: border-box;

			&.business { margin-right: 0 !important; }

			h2 {
				font-size: 22px;
				font-weight: 600;
				line-height: 1.3em;
				margin: 0 0 20px 0;
			}
			ul { margin: 0 0 20px 0; }
			.price {
				font-size: 18px;
				.timeframe {
					font-size: 14px;
					color: $color-text-muted;
				}
			}

			@include max-screen(1000px) {
				width: 31%;
				margin-right: 3.5%;
			}
			@include max-screen(800px) {
				float: none;
				width: 100%;
				margin: 0 0 50px 0;
			}
		}
		.btn {
			font-size: 18px;
			padding: 20px 30px;
		}
		.risk {
			color: #bbb;
			margin-bottom: 20px;
		}
	}

	.faq {
		border-top: 1px solid #eee;
		padding-top: 70px;
		margin-top: 70px;
		@include clearfix;

		.pull-left,
		.pull-right {
			width: 47%;

			@include max-screen(700px) {
				float: none;
				width: 100%;
			}
		}

		h3 {
			font-size: 18px;
			font-weight: 600;
			line-height: 1.3em;
			margin: 0 0 10px 0;
		}
		p { margin-bottom: 40px; }
	}
}

#terms,
#privacy {
	column-count: 2;
	column-gap: 40px;

	ul {
		list-style: disc;
		margin: 0 0 1em 20px;
	}
	ol {
		list-style: decimal;
		margin: 0 0 1em 25px;
	}

	@include max-screen(800px) {
		column-count: 1;
		column-gap: 0;
	}
}

@include max-screen(500px) {
	.header .nav .pricing { margin-left: 0; }
	.header .page-title { padding: 0 20px 50px; }
	.content { margin: 0 20px; }
	.footer { margin: 50px 20px; }
}
