//=================================
// Task Styles
//=================================

#team {
	.users-access {
		tr:hover td { background: #FFFEF2; }
		td.action { text-align: right; }
		.avatar {
			margin: 5px 10px 0 0;
			border-radius: 30px;
		}
		.owner { color: $color-primary; }
		.remove-user {
			font-size: 16px;
			color: $color-text-muted;
			&:hover { color: $color-warning; }
		}
		.status {
			&.invited { color: $color-primary; }
			&.banned { color: $color-warning; }
		}
	}

	.upgrade { margin-top: 50px; }
}
