<%
if(action == 'deleted'){
	print('<a href="#/activity">');
} else {
	if(type == 'comment'){
		print('<a href="#/task/'+ content.task_id +'">');
	} else {
		print('<a href="#/'+ type +'/'+ type_id +'">');
	}
}
%>
<span class="user"><%= user ? user.name : 'Unknown' %></span>
<span class="action"><%
if(action == 'created' && type == 'comment'){
	print('commented')
} else {
	print(action +' the '+ type);
}
%></span>
<%
if(type == 'comment'){
	print('<span class="object">&ldquo;'+ stripHTML(content.content.substring(0,10)) +'...&rdquo;</span>');
} else {
	print('<span class="object">'+ content.name +'</span>');
}
%>
</a>
