<div class="modal-header">
	<h3 class="modal-title">Start your <del>14</del> 60 day free trial</h3>
</div>
<div class="modal-content">
	<p>Once you start your free trial you will be able to create your own projects and
	invite members to your team. At the end of the free trial you will need to upgrade to
	a paid plan to continue using these features.</p>
</div>
<div class="modal-footer">
	<a href="#" class="btn alt cancel">Cancel</a>
	<a href="/start-free-trial" class="btn start">Start Free Trial</a>
</div>
