<a href="//cdn.artisan.so/<%= filename %>" target="_blank" title="Download <%= name %>" download="<%= name %>">
	<div class="thumb<%= file_type != 'image' ? ' icon-file' : '' %> <%= extension %>"<%= file_type == 'image' ? ' style="background-image:url(//cdn.artisan.so/'+ filename +')"' : '' %>></div>
	<div class="name"><%= name %></div>
	<div class="meta">
		<span class="size"><%= formatSize(size) %></span>
	</div>
</a>
