<div class="modal-header">
	<h3 class="modal-title">Time to Upgrade</h3>
</div>
<div class="modal-content"></div>
<div class="modal-footer">
	<a href="#" class="btn alt cancel">Cancel</a>
	<a href="/billing" class="btn upgrade">Upgrade</a>
</div>
