//=================================
// Dropit Styles
//=================================

.dropit {
	list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
	position: absolute;
	top: 100%;
	left: 0; /* dropdown left or right */
	z-index: 1000;
	display: none;
	min-width: 150px;
	list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-open .dropit-submenu { display: block; }

/* Styling */
.dropit .dropit-submenu {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 0;
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.12);

	a {
		display: block;
		font-size: 14px;
		line-height: 25px;
		color: $color-text;
		padding: 0 18px;

		&:hover {
			background: $color-accent;
			color: #fff;
		}
	}
}
