//=================================
// Table Styles
//=================================

table {
	width: 100%;
	margin-bottom: 1em;

	th,
	td {
		line-height: 40px;
		padding: 0 12px;
	}

	thead {
		margin-bottom: 5px;
		th {
			font-weight: bold;
			border-bottom: 1px solid #eee;
		}
	}
}
