//=================================
// Variables
//=================================

$font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-bg: #fff;
$color-text: #444;
$color-text-muted: #999;
$color-accent: #2e7aeb;
$color-primary: #7ac673;
$color-warning: #f26c4f;

$color-input-bg: #fff;
$color-input-border: #ddd;
$color-input-border-hover: #ccc;
